{% extends 'main_temp.html' %}

{% block content %}

{% if message %} 
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif%}

<div class="row" id='{{ image }}' style="height: 750px;"> 
    <div class='col-4'><header class="myButton">{{ category }}</header></div> 
             
    <div class='col-8' >          
            <h6>Points{{ points }}</h6>          
        {% for letter in letters %}
            {% if letter in lines%}
                <a class="myButton"  style="pointer-events: none; color: gray;">{{ letter }} </a>
            {% else %}
                <a href="{{ url_for('playing', id=letter) }}" class="myButton" method="POST">{{ letter }} </a>   
            {% endif %}
        {% endfor%}       
    </div>
    <div class="row">
        <div class='col-4'></div>
        <div class='col-8'>
            <h3>Guess this Word!!</h3>
            {% for line in lines %}
                <p class='myButton'>{{ line }}</p>       
            {% endfor %}</br>
            <a href="{{ url_for('index') }}" class='myButton'>Back to Index</a>
        </div>
    </div>
     
</div>
 
{% endblock %}