{% extends 'main_temp.html' %}

{% block content %}

<div class="row" id='{{ image }}'> 
    <div> <header class="myButton">{{ category }}</header></div> 
             
    <div class="letters_container">
            <h6>{{ progress }}</h6>
            <h6>Lives{{ lives }}</h6>
            <h6>Word to Guess  {{ word_to_guess }}</h6>
        {% for letter in letters %}

        <a href="{{ url_for('playing', id=letter) }}" class="myButton" method="POST">{{ letter }} </a>

        {% endfor%}       
    </div>
    <div class="word_to_guess">
        <h2>Guess this Word!!</h2>
        {% for line in lines %}
            <h2 class='myButton'>{{ line }}</h2>       
        {% endfor %}
        <a href="{{ url_for('index') }}" class='myButton'>Back to Index</a>
    </div>
     
</div>
 
{% endblock %}